// Navigation code here
.navigation{
    display: flex;
    flex-direction: column;
    .JustifyContent(); //Lisa's mixin number two
    align-content: center;
    align-items: center;
    height: 100px;
    border: 2px solid blue;
    background-color: aliceblue;
    
        nav{
            width:100%;
            display: flex;
            .JustifyContent(); //Lisa's mixin number two
            border: 2px solid green;
            font-family:  'Ubuntu', sans-serif;
            
            @media (max-width:500px){
                display: flex;
                flex-direction: column;
                justify-content: center;
              }
           
            a{
                .Display-Flex(); //Lisa's mixin number one
                font-family:  'Ubuntu', sans-serif;
                font-size: 20px;
                text-decoration: none;
                color: @main-font-color;
            
           }
            
        }//this closes nav


        
        h1{
            font-size: 50px;
        }
    }